<h1>List name</h1>
<h2><%= @list.name%></h2>
<ul class="list-group">
  <% @list.movies.each do |movie| %>
    <li <%= movie.title %></li>
  <% end %>
</ul>
  <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class="card" style="width: 18rem;">
          <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top' %>
          <div class="card-body">
            <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <div>
              <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
              <small class="text-right flex-shrink-0"><%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<%= link_to  "Back to Lists", lists_path %>
<p><%= link_to "Create a bookmark", new_bookmark_path(@list) %></p>
