<div class="container">
  <h1><%= @movie.title %></h1>
  <p><%= @movie.overview %></p>
  <p><%= @movie.rating %> <i class="fas fa-lemon"</i></p>
  <p><%= @movie.poster_url %></p>
  <%= link_to  "Back to Movies", movies_path %>
</div>
